/* General Reset and Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    min-height: 100vh;
    /* Ensure the body is flexible to hold the full-height wrapper */
    display: flex;
    flex-direction: column;
}


#page-wrapper { 
    min-height: 100vh;
    max-width: 1360px;
    background-color: #ffffff; /* Jira Blue Background for the main body */
    display: flex;
    flex-direction: column;
    margin: auto;
}


#main-header {
    background-color: #f4f4f4; 
    padding: 15px 40px;
    border-bottom: 1px solid #ebecf0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    flex-shrink: 0; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 30px; 
    height: 30px;
    margin-right: 10px;
}

.project-name {
    font-size: 20px;
    font-weight: bold;
    color: #000000; /* Blue for contrast */
}


.LayoutD {
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    margin: auto;
}


@media (max-width: 932px) {
    .LayoutD {
        width: 100%;
        max-width: 900px;
        padding: 20px 20px;
        margin: auto;
        align-items: center;
    }
}


@media (max-width: 676px) {
    .LayoutD {
        width: 100%;
        max-width: 100%;
        padding: 15px 15px;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}